body{
    background-color:lightcyan;
}

nav{
    height:80px;
}

.navbar{
    background-color:rgb(185, 197, 209);
}

li a{
    color:navy !important;
    font-size:20px;
    font-weight: bolder;
    margin-left:20px;
}

.navbar-nav li a:hover{
    color:darkorange !important;
    background-color:wheat;
    transition: 0.5s;
    padding:15px 20px 15px 20px;
    border-radius: 10px;
}

.navbar-toggler{
    background-color:lightblue;
}

.nav-link{
    padding:20px;
}

@media (max-width:600px){
    .nav-link{
        padding-top:10px;
        text-align: center;
    }

    nav{
        height:auto;
    }
    /*交換國旗跟漢堡圖示*/
    .navbar-brand{
        order:1;
        position:absolute;
        right:1%;
        top:3%;
    }

    .navbar-toggler{
        order:0;
    }

    .nav-item{
        margin-top:10px;
    }
}
