.slide-pic{
    display: block;
    width:100%;
    height:25rem;
    object-fit: cover;
}

.carousel-item h2{
    color:navy;
    background: rgb(114,166,194);
    background: linear-gradient(90deg, rgba(114,166,194,0) 20%, rgba(114,166,194,0.7738445720084909) 36%, rgba(149,189,204,1) 65%, rgba(65,117,143,0) 80%);
    font-size: 20px;
}